@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 91%;
    --foreground: 220 9% 25%;

    --card: 220 13% 91%;
    --card-foreground: 220 9% 25%;

    --popover: 220 13% 91%;
    --popover-foreground: 220 9% 25%;

    --primary: 45 93% 47%;
    --primary-foreground: 30 54% 10%;

    --secondary: 216 12% 84%;
    --secondary-foreground: 220 9% 25%;

    --muted: 216 12% 84%;
    --muted-foreground: 220 9% 45%;
    
    --accent: 216 12% 84%;
    --accent-foreground: 220 9% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 216 12% 84%;
    --input: 216 12% 84%;
    --ring: 45 93% 47%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 220 13% 18%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 45 93% 47%;
    --primary-foreground: 30 54% 10%;

    --secondary: 216 12% 18%;
    --secondary-foreground: 213 31% 91%;

    --muted: 216 12% 18%;
    --muted-foreground: 213 31% 60%;
    
    --accent: 216 12% 18%;
    --accent-foreground: 213 31% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 12% 18%;
    --input: 216 12% 18%;
    --ring: 45 93% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
