@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 18% 93%; /* Soft beige */
    --foreground: 30 54% 10%; /* Dark brown for text */

    --card: 38 18% 90%;
    --card-foreground: 30 54% 10%;

    --popover: 38 18% 90%;
    --popover-foreground: 30 54% 10%;

    --primary: 45 53% 53%; /* Deep gold */
    --primary-foreground: 45 53% 93%;

    --secondary: 30 30% 65%; /* Rich brown */
    --secondary-foreground: 38 18% 93%;

    --muted: 30 30% 65%;
    --muted-foreground: 38 18% 40%;

    --accent: 30 30% 65%; /* Rich brown */
    --accent-foreground: 38 18% 93%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 45 53% 73%;
    --input: 45 53% 73%;
    --ring: 45 53% 53%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 54% 10%; /* Dark brown */
    --foreground: 38 18% 93%; /* Soft beige for text */

    --card: 30 54% 15%;
    --card-foreground: 38 18% 93%;

    --popover: 30 54% 15%;
    --popover-foreground: 38 18% 93%;

    --primary: 45 53% 53%; /* Deep gold */
    --primary-foreground: 45 53% 93%;

    --secondary: 30, 30%, 35%; /* Mid brown */
    --secondary-foreground: 38 18% 93%;

    --muted: 30, 30%, 35%;
    --muted-foreground: 38 18% 70%;
    
    --accent: 30 30% 51%; /* Rich brown */
    --accent-foreground: 38 18% 93%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 45 53% 33%;
    --input: 45 53% 33%;
    --ring: 45 53% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
